---
version: "3.5"

services:
  gateway:
    image: cellxgene-gateway:${GATEWAY_TAG:-latest}
    volumes:
    - ${CELLXGENE_DATA_MOUNT:-/tmp/cellxgene_data}:/cellxgene_data
    networks:
    - internal
    - traefik
    environment:
      CELLXGENE_DATA: /cellxgene_data
      CELLXGENE_ARGS: "--disable-gene-sets-save"
      GATEWAY_EXPIRE_SECONDS: ${GATEWAY_EXPIRE_SECONDS:-300}
      GATEWAY_PORT: 80
    labels:
    - "com.centurylinklabs.watchtower.enable=${GATEWAY_WATCHTOWER:-false}"
    - "traefik.http.routers.${TRAEFIK_ROUTER:-cellxgene-dev}.rule=Host(`${TRAEFIK_HOST:-cellxgene-dev.local.apidb.org}`)"
    - "traefik.http.routers.${TRAEFIK_ROUTER:-cellxgene-dev}.tls=true"
    - "traefik.http.routers.${TRAEFIK_ROUTER:-cellxgene-dev}.entrypoints=${TRAEFIK_ENTRYPOINTS:-local}"
    - "traefik.http.services.${TRAEFIK_ROUTER:-cellxgene-dev}.loadbalancer.server.port=80"
    - "traefik.docker.network=traefik"
    - "prometheus-scrape.enabled=true"

networks:
  internal:
    internal: true
  traefik:
    external: true
  monitoring-ext:
    external: true

